/* src/App.css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

form {
  margin-bottom: 20px;
}

input {
  margin-right: 10px;
}
